<section id="intro">
	<div class="">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/assets/images/slider/slider-1.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Off Grid</p>
					<h1>Wolnostojące instalacje!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/slider/slider-2.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Dach</p>
					<h1>Płaski dach jest super.</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/slider/slider-3.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Solary</p>
					<h1>Nie muszą wyglądać brzydko!</h1>
				</div>
			</div>
		</div>
	</div>
</section>
